
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Kode+Mono:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Kode+Mono:wght@400..700&family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
 }
body {
    overflow-x: hidden;
    margin: 0px;
    font-family: "kode Mono", monospace;
    font-weight: 700;
    color: white;
}



 /**  screen / Border **/


 .screen {
    background-color: black;
    border-left: 5px solid white;
    border-right: 5px solid white;
    padding: 10px;
    height: 96vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
 }

 .navbar {

    top: 0;
    display: flex;
justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    height: 25px;
    border-top: 1px grey solid;
 
   
 }
 .windows {
    display: flex;

 }


 .borderScreen {
    border-left: solid 1px grey;
    border-right: solid 1px grey;
    height: 96vh;
 }

 /**  ----------------------------navbar----------------- **/


 #top {
   
    color: black;
    font-size: 0.8rem;
    text-align: center;
    display: flex;
   align-items: center;
   gap: 10px;
   padding-left: 10px;
   border: solid 1px grey;
 }
 #top:hover {
    cursor: pointer;

 }

 #top2{

    color: black;
    font-size: 0.8rem;
    text-align: center;
    display: flex ;
   
    align-items: center;
    border: solid 1px grey;
 }

 #top2:hover {
    cursor: pointer;

 }

 .ProjectPage {
    color: black !important;
 }
 
 #topEnd {
    display: flex;
padding: 5px 10px;
    align-items: center;
    right: 0;

 }

 #cross {
    color: black;
    border: solid black 2px;

 }

 #cross:hover {
   
    border-color: grey;
    cursor: pointer;
    scale: 1.05;
    transition: 0.5s;

    
 }

 /****------------------------------------***/

 .cv {
    width: 50%;
  }

  .cmd {
   padding: 10px 0px 0px;
   color: green;
   font-size: 1.4rem;
}


h2 {
   color: red;
   padding-bottom: 5px;
   font-size: 1.5rem;
   text-transform: capitalize;
   font-weight: 400;
  font-family: "Rubik Mono One", monospace;
   padding-top: 20px;
}

 li {
    list-style: none;
    font-family: "chivo Mono", monospace;
    font-size: 1.2rem;
} 


 .contactP {
    color: white;
   
 }

 a{
   font-size: 0.8rem;
   text-decoration: none;
   color: rgb(255, 0, 0);
 }

 #redirTravaux {
   color:purple;
   font-size: 1.6rem;
 }
 #redirTravaux:hover {
   cursor: pointer;

 }

 .title {
   color: azure;
   font-size: 2rem;
 }

 .cdSkill{
   font-size: 1.4rem;
 }

 
 

 