body {
    overflow-x: hidden;
    margin: 0px;
    font-family: monospace;
    color: white;
}

#c {
    position:fixed;
    top: 0;
    left: 0;
   
}

main {
    width: 100vw;
    height: 200vw;
    z-index: 99;
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 5vh;
   
}

section {
    min-height: 100vh;
    padding: 20px;
    font-size: 4vh;
    z-index: 1;
}

#scrollProgress {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 99;
    font-size: 3vh;
}

button {
    margin-top: 650px;
    margin-left: 00px;
    width: 200px;
    height: 200px;
    
}

.button1 {
    margin-top: 350px;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: scale-in-center 2s forwards  ;
    position: ralative;
    
}

@keyframes scale-in-center {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}




a {
    position: absolute;
        cursor: pointer;
        color: red;
        z-index: 2;
}

#end {
    background: url(./capture.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}